*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #333;
}
button{
    border: none;
    margin-left: 50px;
    border-radius: 5px;
}
.btn{
    transform: translateY(-50px);
    color: #333;
    padding: 10px 17px;
    background-color: rgb(228,168,146);
    transition: 1s;
}
.btn:hover{
    color: #efefef;
    background-color: lightcoral;
    transition: 1s;
}
.color{
    color: #c47b7b;
    font-size: 40px;
    transform: translateY(250px);
    text-align: center;
}
.split{
    opacity: 0;
    transition: all 0.5s ease-in;
}
.add{
    opacity: 1;
}
